/* CSS Document */
ul#nav{
	list-style-type:none;	
	float:right;
	margin-top:10px;
}

ul#nav li{
	float:left;
	border-right: 1px #ccc solid;
}

ul#nav li a{
	padding: 23px;
font-size: 1.5em;
font-weight: lighter !important;
text-transform: uppercase;
}